body { font-family: arial, sans-serif; font-size:8pt; margin:0px; background-color:#666666/*#ADD1EB*/ }

/*input fields styling*/
input,select { border:1px gray solid; background-color:#ffffff; font-size:9pt; margin:0px; }
input[type=button] { cursor:pointer; }
input[type=button]:hover { background-color:#dbeaf4; }

/*links default styling*/
a { cursor:pointer; color:#3383BB; }
.display a { color:#3383BB; text-decoration:none; font-weight:bold; }
.display a:hover { text-decoration:underline; }

/***********************/
/*Header styles - START*/
#container { position:inherit; }

/*HEADER - generic header styles*/
#header { position:relative; }
#header a { color:#ffffff; text-decoration:none; }
#header #topBeltMenu a.topBeltMenu:hover { background-color:#2C4558; }

/*TOPBELT - black belt on top of the page*/
#topBelt { width:100%; height:30px; background-color:#333333; margin-bottom:0px; border-bottom:3px #3383BB solid; }
#topBeltMenu { float:left; width:100%; padding:0px; margin:0px; list-style-type:none; font-size:10pt; }
#topBeltMenu a.topBeltMenu {float:left;width:50px;text-decoration:none;color:white;height:30px; line-height:30px; text-align:center; }
#topBeltMenu .selected { background-image:url(../images/filtersArrow.png);background-position:center bottom;background-repeat:no-repeat; }

/*FILTERS TOGGLE MENU*/
#filtersToggleMenu { position:relative; background-color:#F4E3C3; border-bottom:1px #F6BC37 solid; display:none; padding:2px; }
#filtersArrow { position:absolute; top:-12px; left:34px; }
#dataFiltersLabel { float:left;width:22px;text-decoration:none;color:white;height:30px; line-height:30px; text-align:center; }
#dataFilters {  }
#submitFiltersDiv { margin-top:3px; background-color:#fdf5e6; width:100%; }
#dataFiltersInputs {  }
.filterItems { display:inline-block;margin-right:10px;vertical-align:top; font-weight:bold; color:#555555; }
.filterItems_disabled { color:#aaaaaa; }
.filterGroup { position:relative;border:1px solid #F6BC37;margin:6px;padding:5px; }
.filterGroupLabel { position:absolute;top:-7px;left:2px;color:#937325;background-color:#F4E3C3;font-weight:bold }

/*USERS TOGGLE MENU*/
#usersToggleMenu { position:relative; background-color:#e1f4c3; border-bottom:1px #adf637 solid; display:none; padding:2px; }
#usersArrow { position:absolute; top:-12px; left:87px; }
#userDropBox { font-weight:bold; color:#555555; }

/*BREADCRUMBS*/
#breadcrumbs { background-color:#ffffff; padding-top:7px; }
#breadcrumbs a { color:#3383BB; font-weight:bold; }
#breadcrumbs a:hover { color:#5992bb; }
#breadcrumbs .highlight { font-weight:bold; }

/*LOGO*/
#logo { position:absolute; top:0px; right:2px; width:170px; height:30px; background-color:#ffffff; background-image:url(../images/logo.png); background-repeat:no-repeat; background-position:0px 0px; }

/*REFRESH*/
#refreshSelect { position:absolute; top:6px; right:185px; color:#ffffff; }
#refreshSelect select { width:170px; }
#refreshSelect #refresh { width:145px; }
#refreshSelect #refreshImg { vertical-align:middle; cursor:pointer; margin-bottom:2px; }
#refreshSelect #refreshImg:hover { background-color:#666666; }

/*LOADING INDICATOR*/
#loadingAnimation { position:absolute; right:420px; top:3px; }
#ajaxAnimation { display:none; }
#loadingTable { display:none; }

/*HELP/SUPPORT BUTTON*/
#supportHelp { position:absolute; top:5px; right:5px; text-align:right; border-right:0px #e1e1e1 solid; font-size:9pt; background-color:#7FA4BF;text-align:center; }
/*Header styles - FINISH*/
/************************/

/************************/
/*Content styles - START*/
#contentWrapper { background-color:#FFFFFF; margin-left:0px; margin-right:0px; }

#content { position:relative; width:100%; }
#siteTabs { padding-bottom:26px; }

/*CHARTS STYLING*/
.chartTbl { margin-bottom: 10px; }
.chartImg { margin:15px; vertical-align:top; }
.chartTd { width:50%; text-align:center; vertical-align:middle; padding-top:10px; }
.chartTitle { font-weight: bold; font-size:10pt; }
.chartMessageFrame { width:240px; vertical-align:middle; border:1px #aaaaaa solid; padding-top:20px; padding-bottom:20px;}
.chartTable {}
.chartTableHeadTd { background-color:#7FA4BF; font-weight:bold; color:white; border-bottom:2px #557f9d solid; border-top:2px #c4d5e1 solid; }

/*PAGINATION STYLING*/
.dataTable_paginate input { text-align:center; width:30px; margin:6px; }
.paginate_button { font-size:9pt; font-weight:bold; color:#27415f; margin:0px; margin-left:2px; margin-right:2px; background-color:#ccd8e5; padding:4px; cursor:pointer; }
.paginate_button:hover { background-color:#e4ebf3; }
.paginate_page, .paginate_of { font-size:9pt; }

/*MULTISELECT*/
.ui-multiselect.hb-multiselect { background-color:#ffffff; background-image:url(); font-size:8pt; height:20px;border:1px gray solid; font-size:9pt; padding:0px;padding-left:3px; height:19px; }

/*DATE FILTERS*/
#ui-datepicker-div { /*background:#fdf5e6;*/ border:1px #3383BB solid; border-bottom-width:3px; }
.ui-multiselect-menu { border:1px #3383BB solid; border-bottom-width:3px; }
.ui-multiselect-menu input { margin-right:3px; }

/*FILTERS SUMMARY*/
.lkfw_tooltip_filtersSummary { background-color:#ffffff;border:1px #3383BB solid; border-top-width:0px; border-bottom-width:3px; border-left-width:0px; padding:5px; }

/*USERS LIST STYLING*/
.srchField_div { background-color:#f3fde4; padding:2px; font-weight:bold; color:#555555; padding-left:5px; }
.srchField_div form {  }
#srchListWrapper_0 { height:150px; width:350px; overflow:auto; margin:3px; border:1px gray solid; background-color:#f3fde4; }
#users_0 { list-style-type: none; padding:0px; margin:0px; }
#users_0 li { border-bottom:1px #dddddd solid; padding:1px; padding-left:3px; font-size:9pt; font-weight:bold; color:#555555; cursor:pointer; }
#users_0 li:hover { background-color:#ffffff; }

/*EXPANDED ROWS*/
.orKEYS { font-weight:bold; text-align:right; color:#1e4a68; }
.orVALS {}
/*Content styles - FINISH*/
/*************************/

/***********************/
/*Footer styles - START*/
#footer { position:relative; bottom:0px; left:0px; width:100%; height:20px; background-color:#333333; border-top:3px #3383BB solid; margin:0px; }
#footerTxt { position:absolute; top:2px; right:5px; color:#ffffff; font-weight:bold; }
#footerTxtCredits { position:absolute; top:2px; left:5px; color:#ffffff; }
#footer a { color:#dddddd; text-decoration:none; font-weight:bold; }
/*Footer styles - FINISH*/
/************************/




